/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: #555;
}
  
  a {
    color: #007acc;
    text-decoration: none;
    text-align: center;
  }
  
  h1 {
    margin-top: 2rem;
    color: hsl(197, 64%, 35%);
    margin-left: 1rem;
  }
  
  h2 {
    margin-top: 2rem;
    color: hsl(197, 64%, 35%);
  }

/* Estilos para las secciones */
 section {
    margin-bottom: 2rem;
  }
  
  /* Estilos para el footer */
  footer {
    background-color: hsl(197, 64%, 45%);
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  /* Estilos específicos para el index.html */
  main {
    background-color: #e0e0e0;
    padding: 2rem;
  }
  
  /* Estilos para el logo en el header */
  header img {
    max-height: 5rem;
  }
  
  /* Estilos para la imagen del footer */
  footer img {
    max-height: 3rem;
  }
  
  /* Definimos los estilos de las columnas */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  /* Podemos darle un estilo adicional a los elementos de la rejilla (.grid-item) */
  .grid-item {
    background-color: #f5f5f5;
    border: 1px solid #888;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
    color: #005a66;
  }
  
  .grid-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  /* Podemos darle un estilo adicional a los elementos de la rejilla (.grid-item) */
  .grid-item1 {
    background-color: #f5f5f5;
    border: 1px solid #888;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
    color: #005a66;
  }
  
  /* Estilo para los formularios */
  form {
    margin: auto;
    width: 50%;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo para los campos del formulario */
  input[type="text"],
  textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #333;
    padding: 0.5rem;
    border: 1px solid #777;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  /* Estilo para los botones */
  button[type="submit"] {
    background-color: #005a66;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Estilo para el botón al pasar el mouse sobre él */
  button[type="submit"]:hover {
    background-color: #004c55;
  }
  
  /* Estilos de las tablas */
  table {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #888;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
  }
  
  th, td {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid #888;
  }
  
  th {
    background-color: #005a66;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tr:hover {
    background-color: #ddd;
  }


/*estilos para la navegacion*/

.navigation {
    height: 100px;
    background: #001628;
    width: 100%;
  }
  
  nav {
    float: left;
    width:100%;
    background-color: #005a66;
  }
  
  .nav-menu {
    display:blocK;
    width: 100%;
    background-color: #005a66;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #005a66;
    width: 100%;
    
}
  
  nav ul li {
    float: left;
    position: relative;
    background:#005a66;
}
  
  nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: #fff;
    text-decoration: none;
    width: auto;
    
}
  
  nav ul li a:hover {
    background: #5fbcc9;
    color: #ffffff;
  }
  
  nav ul li a:not(:only-child):after {
    padding-left: 5px;
    content: ' ▾';
  }
  
  .nav-submenu {
    width:auto;
    position: absolute;
    z-index: 1;
    box-shadow: 5px 5px 10px #005a66;
    width: auto;
    display: none;
  }
  
  .nav-submenu li {
     width: 100%;
     white-space: nowrap;
  }
  
  .nav-movil {
    display: none;
    position: absolute;
    top: 80;
    right: 0;
    background: #005a66;
    height: 70px;
    width: 100%;
  }
  
  @media screen and (max-width: 979px) {
    .nav-movil {
      display: block;
    }
  
    .nav-menu {
      display: none;
      margin-top: 50;
    }
    
    .nav-menu li {
      float: none;
    }
    .nav-menu li a {
      padding: 20px;
      line-height: 20px;
    }
    .nav-menu li ul li a {
      padding-left: 30px;
    }
    
    .nav-submenu {
      position: static;
    }

    footer {
        background-color: #005a66;
        color: #fff;
        text-align: center;
        padding: 1rem;
        font-family: Arial, sans-serif;
        font-size: 7px;
    }

      h1 {
        margin-top: 3rem;
        color: hsl(197, 64%, 35%);
        margin-left: 1rem;
        font-size: 16px;
      }
      
      h2 {
        margin-top: 3rem;
        color: hsl(197, 64%, 35%);
        font-size: 14px;
      }

      p {
        margin-top: 2rem;
        font-size: 10px;
      }

/* Estilos de las tablas */
table {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #888;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
  }
 
  }
  
  @media screen and (min-width: 980px) {
    .nav-menu {
      display: block !important;
    }  
}
  #nav-boton {
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    width:20px;
    height: 10px;
    padding: 5px 15px 15px 0px;
    z-index:1;
  }
  
  #nav-boton span,
  #nav-boton span:after,
  #nav-boton span:before {
    transition: all 500ms ease-in-out;
    border-radius: 1px;
    height: 5px;
    width: 40px;
    position: absolute;
    display: block;
    content: "";
    background: #fcfcfc;
  }
  
  #nav-boton span:before {
    top: -10px;
  }
  #nav-boton span:after {
    bottom: -10px;
  }
  
  #nav-boton.activo span {
    background-color: transparent;
  }
  
  #nav-boton.activo span:before,
  #nav-boton.activo span:after {
    top: 0;
  }
  
  #nav-boton.activo span:after {
    transform: rotate(-45deg);
  }
  
  #nav-boton.activo span:before {
    transform: rotate(45deg);
}

footer {
    background-color: #005a66;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-family: Arial, sans-serif;
    font-size: 11px;
  }
